header.toolbar
  span.toolbar__title Todo List
main.main
  span.main__title Todo List
  form.main__new-todo-container
    input.main__new-todo-container__input
    button.main__new-todo-container__confirm !{require('material-design-icons/action/svg/production/ic_done_24px.svg')}
  button.main__add-todo !{require('material-design-icons/content/svg/production/ic_add_24px.svg')}