li.todo
  div.todo__backdrop
  form.todo__edit
    input.todo__edit__input
    button.todo__edit__confirm !{require('material-design-icons/action/svg/production/ic_done_24px.svg')}
  span.todo__content #{content}
  button.todo__remove !{require('material-design-icons/content/svg/production/ic_clear_24px.svg')}